controller:
  type: StatefulSet

ingress:
  main:
    enabled: true
    annotations:
      # This tells Traefik to use this ingress
      kubernetes.io/ingress.class: traefik
    hosts:
      - host: ha.home  # Or just use the IP if you don't have DNS
        paths:
          - path: /
            pathType: Prefix

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 5Gi
  storageClass: ""
