controller:
  type: StatefulSet

ingress:
  enabled: true   # Traditional ingress
  external: false # External ingress

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 5Gi
  storageClass: ""
