controller:
  type: StatefulSet

ingress:
  main:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: traefik
      traefik.ingress.kubernetes.io/router.entrypoints: web
    hosts:
      - host: ha.home
        paths:
          - path: /
            pathType: Prefix

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 5Gi
  storageClass: ""

configuration:
  http:
    use_x_forwarded_for: true
    trusted_proxies:
      - 10.42.0.0/16  # Your K3s Pod network