controller:
  type: StatefulSet

ingress:
  main:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: traefik
    hosts:
      - host: ha.home  # This must be EXACTLY what is in your browser address bar
        paths:
          - path: /
            pathType: Prefix

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 5Gi
  storageClass: ""
