[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
Wants=network-online.target firewalld.service
After=network-online.target firewalld.service

[Service]
ExecStartPre=/usr/bin/sleep 10
Type={{ 'notify' if 'master' in group_names else 'exec' }}
ExecStart=/usr/local/bin/k3s {{ 'server' if 'master' in group_names else 'agent' }} \
{% if 'master' in group_names %}
    --write-kubeconfig-mode 644 \
    --cluster-init \
    {{ extra_server_args }}
    {% if token is defined %}--token {{ token }}{% endif %}
{% else %}
    --server https://{{ master_ip }}:6443 \
    --token {{ hostvars[groups['master'][0]]['token'] }} \
    {{ extra_agent_args }}
{% endif %}

KillMode=process
Delegate=yes
LimitNOFILE=1048576
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
# Bump this slightly to give Fedora time to finish post-update I/O
RestartSec=20s

[Install]
WantedBy=multi-user.target
